body{
    font-family: Century Gothic;
}
header{
   
    text-align: center;
    font-size:120%;
    background-size:cover;
    background-position:center;
    
    color:white;
}

body{  
  background-image: url(http://i.vimeocdn.com/video/555476154_1280x720.jpg);
  height:1000px;
  background-size: cover;
  background-attachment: fixed;
  
}
#carousel-example-generic{
    max-height: 345px;
   
    overflow-y: hidden;
    text-align: center;
}

img{
    text-align: center;
    margin:auto;
}